@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Outfit', 'Inter', system-ui, sans-serif;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
  }
}

/* Custom Leaflet Marker Fixes */
.leaflet-container {
  font-family: 'Outfit', sans-serif !important;
  background-color: #090d16 !important;
}

.custom-station-marker, .custom-curve-handle {
  display: flex;
  align-items: center;
  justify-center: center;
}
